.container {
    padding: 2rem 4rem;
}

.container h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.image {
    width: 80%;
    object-fit: contain;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.product {
    width: 300px;
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
        5px 5px 10px rgba(94, 104, 121, 0.3);
}

.product:hover {
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
        5px 5px 10px rgba(0, 0, 0, 0.5);
}

.product h3 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.product .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .description .price {
    font-size: 20px;
    font-weight: 700;
}

.product button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    border: 1px solid #00bfff;
    outline: none;
    cursor: pointer;
    background-color: white;
    color: #00bfff;
    letter-spacing: 1.15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product button:hover {
    background-color: #00bfff;
    color: white;
}
