.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #a9a9a9;
    min-height: 80vh;
}

.notFound h2 {
    font-size: 55px;
}

.notFound p {
    font-size: 20px;
}
